h1 {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-family: 'Bebas Neue', cursive;
}
body {
    width: 600px;
    margin: 40 auto;
    padding: 0 40px 40px 40px;
    border: 5px solid black;
  }