body {
  border: 5px solid black;
  display: block;
  margin: 10px;
  padding: 0 40px 40px 40px;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

h4 {
  position: relative;
  top: 35px;
}

a {
  color: #6495ED;
}

a:hover {
  color: #FF69B4;
}

.small-icon {
  max-width: 15%;
  margin-top: 20px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  bottom: 10px;
}

.name {
  text-align: center;
  display: inline;
  font-size: 4em;
}

.macbook {
display: block;
height: auto;
margin: auto;
max-width: 100%;
}

.skills {
  position: relative;
  bottom: 10px;
}

.future {
  position: relative;
  bottom: 40px;
}