h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}
h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}
.small-icon {
  max-width: 15%;
  margin-top: 20px;
  border-radius: 50%;
  vertical-align: middle;
  
}
.name {
  text-align: center;
  display: inline;
  font-size: 4em;
}
.macbook {
display: block;
height: auto;
margin: auto;
max-width: 100%;
}
body {
  border: 5px solid black;
  display: block;
  margin: 10px;
  padding: 0 40px 40px 40px;
  text-align: center;
}
li {
  list-style-position: inside;
  text-align: center;
}