h1 {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-family: 'Bebas Neue', cursive;
}
img {
  display: block;
  margin: 0 auto;
}
body {
    display: block;
    margin: 40 auto;
    padding: 0 40px 40px 40px;
    border: 5px solid black;
  }